body{
    background-color: #748d92;
    margin: 0;
}

nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #2e3944;
    height: 4vw;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 1vw;
}

th, td {
    border: 1px solid black;
}

h1{
    text-align: center;
    margin: auto;
}

#container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#tableContainer table, #adminTableContainer table{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 1.5vw;
    white-space: nowrap;
    margin: auto;
}

#tableContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#adminTableContainer{
    position: absolute;
    left: 50%;
    top: 4vw;
    transform: translateX(-50%);
}

#tableContainer table:nth-child(2) {
    margin-top: 5vw;
}

.queryButton, .gradesButton, .classesButton{
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
    background-color: #d3d9d4;
}

.queryButton{    
    font-size: 1.6vw;
}


.gradesButton, .classesButton{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1vw;
}

.action{
    text-align: center;
}

.delete{
    color: red;
}

.edit{    
    color: blue;
}

#editContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}